body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background-color: #fff;
	-webkit-font-smoothing:antialiased;
}

*,
*:before,
*:after{
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
}

p {
	margin: 0 0 10px;
}

/*Container*/
.container {
	width: 100%;
		display: flex;
    justify-content: center;

}
.header_container {
	background: url("../images/bg.jpg") no-repeat;
	background-size:100%;
	
}
/*Header*/
.header {

}
.header_inner{
	width: 90%;
	
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
	align-items: center;
}



/*Nav*/
.nav {
	
}

.nav_link {
	text-decoration: none;
	color: #fff;
	margin-right: 10px;
	margin-left: 10px;
}
.login {
	font-weight: 700;
}

.nav_link:hover {
	padding-bottom: 5px;
	border-bottom: 2px solid #fff;
}

.home_drop {
  
  padding: 16px;
  font-size: 16px;
 
  cursor: pointer;
}
ul.nav li {
  position: relative;
  display: inline-block;
}

.home_dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.home_dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.home_dropdown:hover .home_dropdown-content {
  display: block;
}
.home_dropdown-content a:hover {background-color: #f1f1f1}


/*intro*/
.intro {
	display: flex;
	justify-content: center; 
}

.intro_inner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 300px; 
    width: 65%;
}
.intro_inner_ipad img{
	width: 320px;
	height: 440px;
}
.intro_inner_text{
	width: 50%;
	margin-left: 30px;
	padding-top: 30px;
}
.intro_button{
	display: flex;
	flex-direction: row;

}

.intro_inner_sub{
	font-size: 30px;
	color: #fff;

}

.intro_inner_sup{
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 40px;
}

/*Button*/
.btn {
	display: inline-block;
	vertical-align: middle;
	padding: 10px 20px;
	font-size: 13px;
	color: #fff;
	font-weight: 600;
	text-decoration: none;
	transition: background .1s linear;
	text-align: center;
	border-radius: 2px;
	border:0;
	cursor: pointer;
}
.btn--green {
	background-color: #1abc9c;
}

.btn--green:hover {
	background-color: #20574c;
}

.btn--blue {
	background-color: #3498db;
	margin-left: 10px;

}

.btn--blue:hover {
	background-color: #1e445e;
}

/*about_section*/

.about_section{
	display: flex;
	width: 100%;
	justify-content: center;
	padding-top: 100px;
	padding-bottom: 100px;
}
.about_section_container {
	display: flex;
	width: 80%;
	justify-content: space-between;
}
.about_text{
	width: 50%;
}
.about_photo{
	display: flex;
	flex-direction: row;
	
	
}
.about_photo2{
	margin-left: 20px;
	margin-top: 63px;
}

.about_sub{
	font-size: 20px;
	color: #000;
	margin-bottom: 20px;
}
.about_sup{
	font-size: 14px;
	color: #000;
}

/*Features*/

.features {
	display: flex;
	width: 100%;
	justify-content: center;
	background-color: #f6f6f6;
	padding-top: 50px;
	padding-bottom: 50px;
}

.features_container {
	display: flex;
	width: 80%;
	justify-content: space-between;

}
.feature_bucked {
	width:33.333%;
	text-align: center;
}

.features_text {
	font-size: 18px;
	color: #2c3e50;
	padding-top: 10px;
}

.featues_sub {
	font-size: 13px;
	font-weight: 300;
	color: #2c3e50;
	padding-top: 10px;
}
/*macbook*/

.macbook {
	display: flex;
	justify-content: center;
	height: 600px;
	background: url("../images/photo.jpg")  no-repeat;
	text-align: center;
}

.macbook_photo{
	padding-top: 100px;
	position: relative;
}

.macbook_sub {
	font-size: 14px;
	color: #fff;
	padding-top: 15px;
}
.macbook_text {
	font-size: 25px;
	color: #fff;
	padding-top: 50px;
}

.macbook_photo:after {
	content: "";
	height: 90px;
	width: 40px;
	position: absolute;
	background: url("../images/arrow_right.png")  no-repeat;
	background-size: 100%;
	top: 140px;
	right: 5px;
}

.macbook_photo:before {
	content: "";
	height: 90px;
	width: 40px;
	position: absolute;
	background: url("../images/arrow_left.png")  no-repeat;
	background-size: 100%;
	top: 140px;
}
/*people_say*/

.people_say_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.people_say {
	display: flex;
	width: 100%;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 100px;
	
}


}
.say_photo{
	display: flex;
	justify-content: space-between;

}

.say_text {
	display: flex;
	
}

.say {
	width: 460px;
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
	margin-right: 10px;
}

.say_text{
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	padding-top: 30px; 

}
.say_sup {
	padding-top: 20px;
	font-size: 14px;
	font-weight: 300;
	color: #34495e;
}
.say_container {
	display: flex;
	flex-direction: row;
	width: 80%;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 20px;
}
.poeple_say_text {
	text-align: center;
	font-size: 35px;
	color: #34495e;
}
.say_sub {
	font-size: 20px;
	color: #34495e;
}

/*Contact_section*/

.contact_section {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #34495e;
	padding-top: 100px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bec5cb;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #bec5cb;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #bec5cb;
}

.contact_section_container {
	display: flex;
	width: 80%;
}

.contact_section_info {
	display: flex;
	
	flex-direction: column;
	color: #fff;
}
.contact_section_registr {
	display: flex;
	
	flex-direction: column;
	margin-left: 50px;
}
.adress_info {
	list-style-type: none;
	margin-left: -40px;
}

#contact-field {
	border-radius: 5px;
	
	height: 40px;
	background-color: #5d6d7e;
	border:0;
	color: #fff;
	outline: 0;
	padding-right: 5px;
	padding-left: 5px;
}
#email-field {
	border-radius: 5px;
	
	height: 40px;
	background-color: #5d6d7e;
	border:0;
	color: #fff;
	outline: 0;
	padding-right: 5px;
	padding-left: 5px;
}
#message-field {
	border-radius: 5px;
	width: 100%;
	height: 100px;
	background-color: #5d6d7e;
	border:0;
	color: #fff;
	outline: 0;
	padding-right: 5px;
	padding-left: 5px;
	resize: none;
}
.dropdown {
	padding-right: 5px;
	padding-left: 5px;
		border-radius: 5px;
	width: 100%;
	height: 40px;
	background-color: #5d6d7e;
	border:0;
	color: #bec5cb;
	outline: 0;
}

.contact_user_info {
	display: flex;
	
}

.contact_section_info_text{
	font-size: 20px;
}

.contact_section_info_sub{
	font-size: 13px;
	
	padding-top: 10px;
}

.contact_section_info_adress {
	font-size: 13px;
	padding-top: 30px;
	
}
.contact_section_info_adress a {
	
	text-decoration: none;
	color: #fff;
}


.contact_section_info_phone {
	font-size: 13px;
	padding-top: 10px;
}
.contact_section_info_phone a {
	text-decoration: none;
	color: #fff;
}

.contact_section_info_email {
	font-size: 13px;
	padding-top: 10px;
}

.contact_section_info_email a {
	text-decoration: none;
	color: #fff;
}

.contact_user_info_email {
	margin-left: 15px;
}

.contact_user_subject {
	padding-top: 15px;
	width: 100%;
}
.contact_user_message {
	padding-top: 15px;
	width: 100%;
}

.contact_user_buttons {
	display: flex;
	justify-content: flex-end;
	padding-top: 15px;
	padding-bottom: 100px;

}

/*footer*/
.footer {
	background-color: #2c3e50;
	text-align: center;
	padding:50px;
	color: #fff;
}


@media screen and (max-width: 600px) {
 .header_inner { flex-direction: column;  

  }


  .contact_section_container {
  	flex-direction: column;
  	margin-top: 5px;
  }
  .contact_section_registr {
  	margin: 20px 0;
  }

   ul.nav li {
  	display: block;
  	list-style-type: none;
  	padding: 0;
  	margin-top: 15px;
  }

  .intro_inner {
  	flex-direction: column;
  	align-items: center;
  	width: 100%;
  	margin: 30px 0;
  	
  }
  .intro_inner_sub {
  	color: #000;
  	width: 100%;

  }
   .intro_inner_sup {
  	color: #000;
  	width: 100%;
  }

  .features_container {
	flex-direction: column;
	width: 100%;
  }
  .feature_bucked {
	width: 100%;
	margin: 10px 0;
  }
  .about_section_container {
  	flex-direction: column;
  	margin-top: 10px 0; 
  	width: 100%;
  	align-items: center;
  }
  .about_sup {
  	margin-bottom: 20px;
  }
  .macbook_photo1 {
  	width: 100%;
  }

  .contact_user_info_name{
  	width: 50%;
  }
  #contact-field{
  	width: 100%;
  }
  .contact_user_info_email {
  	width: 50%;
  }
  #email-field{
  	width: 100%;
  }
}
